nav {
  padding-top: 2em;
  background-color: black;
  position: fixed;
  text-align: center;

}

.link {
  display: inline;
  padding: 2em;
  color:aliceblue;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
  
  
 
}

.link:hover {
  color:rgb(162, 216, 223);
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
}